<section>
    <div class="container">
        <h4 style="text-align: center">Atendimento somente para empresas.</h4>
        <div class="col-sm-12">
            <p style="text-align: center">TIM EMPRESAS - SOLICITE JÁ UMA PROPOSTA!<br />
            Cel-WhatsApp: <b>(11) 98223-0369</b></p><br />
        </div>
        <form  id="formCadastro" data-toggle="validator" #f="ngForm"  role="form" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" placeholder="Nome completo" id="name" name="name" required [(ngModel)]="pessoa.nomeCompleto">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="razaoSocial">Razão social</label>
                <input type="text" class="form-control" placeholder="Razão social" id="rsocial" name="rsocial" required [(ngModel)]="pessoa.razaoSocial">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="cnpj">CNPJ</label>
                <input type="text" class="form-control" placeholder="Apenas números" id="cnpj" name="cnpj" required [(ngModel)]="pessoa.cnpj">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phoneNumber">Telefone fixo</label>
                    <input type="text" class="form-control" placeholder="Apenas números" id="telFixo" name="telFixo" [(ngModel)]="pessoa.telefoneFixo">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="celphone">Telefone celular</label>
                    <input type="text" class="form-control" placeholder="Apenas números" id="telCel" name="telCel" required [(ngModel)]="pessoa.telefoneContato">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" placeholder="E-mail" id="email" name="email" required [(ngModel)]="pessoa.email">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="currentService">Operadora atual</label>
                    <input type="text" class="form-control" placeholder="Vivo" id="opAtual" name="opAtual" required [(ngModel)]="pessoa.opAtual">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group col-md-2">
                    <label for="lineQuantity">Nr de linhas</label>
                    <input type="number" class="form-control" placeholder="0" id="quantidadeLinha" name="quantidadeLinha" required [(ngModel)]="pessoa.quantidade">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                        <label for="tipo-contato" class="col-2 col-form-label">Tipo contato</label>
                        <select class="form-control" id="tipoContato" name="tipoContato" required [(ngModel)]="pessoa.tipoContato">
                                <option value="whatsapp">Whatsapp</option>
                                <option value="telefone">Telefone</option>
                                <option value="email">E-mail</option>
                        </select>
                        <div class="help-block with-errors"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Cadastrar</button>
        </form>
    </div>
</section>
