<header>
  <div class="container-fluid">
    <div class="row">
         <p style="text-align: center"><img src="assets/img/tim-header.jpeg" 
         alt="TIM" class="img-rounded" width="1140" height="509"></p>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="col-sm-6">
        <h3>Faça seu cadastro, entraremos em contato.</h3>
        <form id="formCadastro" data-toggle="validator" role="form">
            <div class="form-group row">
            <label for="name-text-input" class="col-2 col-form-label">Nome</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="Fernado Vilas Boas" id="name-text-input" required>
            </div>
            <div class="help-block with-errors"></div>
            </div>
            <div class="form-group row">
            <label for="rsocial-text-input" class="col-2 col-form-label">Razão Social</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="Fernado Vilas LTDA" id="rsocial-text-input" required>
            </div>
            <div class="help-block with-errors"></div>
            </div>
            <div class="form-group row">
            <label for="cnpj-text-input" class="col-2 col-form-label">CNPJ</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="60673875000186" id="cnpj-text-input" required>
            </div>
            <div class="help-block with-errors"></div>
            </div>
            <div class="form-group row">
            <label for="telFixo-tel-input" class="col-2 col-form-label">Telefone Fixo</label>
            <div class="col-10">
                <input class="form-control" type="tel" placeholder="(11)-9999-9999" id="telFixo-tel-input" required>
            </div>
            <div class="help-block with-errors"></div>
            </div>
            <div class="form-group row">
            <label for="telCel-tel-input" class="col-2 col-form-label">Telefone Celular</label>
            <div class="col-10">
                <input class="form-control" type="tel" placeholder="(11)-99999-9999" id="telCel-tel-input" required>
            </div>
            <div class="help-block with-errors"></div>
            </div>                
            <div class="form-group row">
            <label for="email-email-input" class="col-2 col-form-label">E-mail</label>
            <div class="col-10">
                <input class="form-control" type="email" placeholder="fernando@example.com" id="email-email-input" required>
            </div>
            <div class="help-block with-errors"></div>
            </div>
            <div class="form-group row">
            <label for="quantidadeLinha-number-input" class="col-2 col-form-label">Quantidade</label>
            <div class="col-10">
                <input class="form-control" type="number" placeholder="4" id="quantidadeLinha-number-input" required>
            </div>
            <div class="help-block with-errors"></div>
            </div>        
            <div class="form-group row">
            <label for="opAtual-text-input" class="col-2 col-form-label">Operadora Atual</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="Vivo" id="opAtual-text-input" required>
            </div>
            <div class="help-block with-errors"></div>
            </div>        
            <div class="form-group row">
            <label for="tipo-contato" class="col-2 col-form-label">Tipo contato</label>
            <select class="form-control" id="tipo-contato" required>
                <option>Whatsapp</option>
                <option>Telefone</option>
                <option>E-mail</option>
            </select>
            <div class="help-block with-errors"></div>
            </div>
            <div class="form-group row">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>   
        </form>     
      </div>
      <div class="col-sm-6">
        <p style="text-align: center">TIM EMPRESAS - SOLICITE JÁ UMA PROPOSTA! 
          ATENDEMOS TODO O BRASIL! Cel-WhatsApp: (11) 99999-9999</p><br />
        <img src="assets/img/promo-dia.jpeg" alt="Promoção do dia" width="450" height="277">
      </div>
  </div>
</section>